* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: #0f0f1e;
    color: white;
    font-size: 16px;
    overflow: hidden;


}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}


header nav ul {
    display: flex;
    gap: 48px;

}

.logo-log {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(248, 249, 255);
    text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
    

}


header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;

}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: aqua;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: #006ea1;
    background: linear-gradient(90deg, rgba(0, 110, 161, 1) 0%, rgba(0, 31, 92, 1) 45%, rgba(0, 19, 31, 1) 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 1.5s infinite alternate;
    
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%)scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%)scale(2);

    }
}



