* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: #0f0f1e;
    color: white;
    font-size: 16px;
    overflow: hidden;


}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(248, 249, 255);
    text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);

}

header nav ul {
    display: flex;
    gap: 48px;

}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;

}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: aqua;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: #006ea1;
    background: linear-gradient(90deg, rgba(0, 110, 161, 1) 0%, rgba(0, 31, 92, 1) 45%, rgba(0, 19, 31, 1) 100%);
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%)scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%)scale(2);

    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transform: translateX(100wv);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.active {
    opacity: 1;
    transform: translateX(0);
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));


    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.4s;


}

.active .product-img img {
    transform: translateX(0);
    opacity: 1;

}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.product-tag {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(0, 110, 161, 1);
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.4s;


}

.active .product-tag  {
    transform: translateX(0);
    opacity: 1;
}

.product-name {
    font-size: 4.5rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;


 transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.4s;


transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.4s;


}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}

.description {
    font-size: 1.1rem;
    color: azure;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.4s;


}

.active .description {
    transform: translateX(0);
    opacity: 1;
}

.btn {
    padding: 12px 10px;
    ;
    background: linear-gradient(90deg, #006EA1, #3672EB);
    border-radius: 30px;
    color: azure;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.btn:hover {
    background-color: #fcfcff;
    transform: scale(1.05);
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 500%;
    cursor: pointer;
    background-color: rgba(rgb(249, 215, 215));
    border: 1px solid rgb(255, 255, 255)
}

.arrow-btn:hover {
    background-color: rgba(232, 232, 232, 0.2);
    border-color: rgb(0, 55, 131);
}

.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

}

.numbers {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 2555, 0.2);
}

.dots {
    display: flex;
    gap: 10px;

}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 2555, 0.2);
}

.dot.active {
    background-color: rgb(39, 75, 255);
    box-shadow: #8bcae8;
}